.not-qualified {
    color: red;
}

.maybe-qualified {
    color: purple;
    font-weight: bolder;
}

.qualified {
    color: green;
}

.points-input {
    width: 4em;
}

.invisibile {
    visibility: hidden;
}

.profile-preview {
    margin-top: 10px;
    font-size: 105%;
    margin-top: 1em;
    display: inline-block;
}

.big-button {
    margin: 10px 10px 10px 10px;
}

.big {
    font-size: larger;
}

/* Formularz logowania */

.signin-container .heading,
.signin-container .user-info {
    text-align: center;
    margin: 1em;
}

.form-signin {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.form-signin .form-signin-button {
    margin: 0.25em;
}

.form-signin .btn {
    padding: 0;
}

.form-signin img {
    width: 20em;
}

/* Program */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-m {
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 28px;
}

.ellipsis {
    text-overflow: ellipsis;
}
