<div class="col-sm-2 text-center button-div">
{% if registered %}
<a onclick="unregister('{{ workshop.name }}');">
    <button class="btn btn-warning btn-circle btn-m" type="button"><i class="glyphicon glyphicon-minus"></i></button></br>
    <h4 class="text-default">Wypisz się</h4>
</a>
{% else %}
<a onclick="register('{{ workshop.name }}');">
    <button class="btn btn-success btn-circle btn-m" type="button"><i class="glyphicon glyphicon-plus"></i></button></br>
    <h4 class="text-default">Zapisz się</h4>
</a>
{% endif %}
</div>