{% if workshop.is_publicly_visible %}
  <div>
    {% if has_perm_to_edit %}
      <a href="{% url 'workshop' workshop.name %}">Edycja zgłoszenia</a> |
      <a href="{% url 'workshop_page_edit' workshop.name %}">Edycja strony warsztatów</a> |
    {% else %}
      <a href="{% url 'workshop' workshop.name %}">Podgląd zgłoszenia</a> |
    {% endif %}
    <a href="{% url 'workshop_page' workshop.name %}">Podgląd strony warsztatów</a> |
    <a href="{% url 'workshop_participants' workshop.name %}">Uczestnicy i ocenianie</a>
  </div>
  <hr>
{% endif %}