{% extends "base.html" %}

{% block content %}
<div class="container">
    <article class="col-sm-12 maincontent">
        {{ article.content|safe }}
        {% if perms.wwwapp.change_article %}
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-default">
            Edit article
        </a>
        <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script>
                    CKEDITOR.replace( 'content' );
                </script>
                <button class="button">Save</button>
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}
