{% extends "base.html" %}

{% block content %}
<div class="container">
    <article class="col-sm-8 maincontent">
        <header class="page-header">
            <h1 class="page-title">Aplikacja WWW</h1>
        </header>
        {{ article.content|safe }}
        {% if request.user.is_superuser %}
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'content' );
                </script>
                <button class="button">Save</button>
            </form>
        {% endif %}
    </article>
</div>
{% endblock %}
