{% extends "base.html" %}

{% load bleach_tags %}

{% block content %}
<div class="container">
    <article class="col-sm-12 maincontent">
        {{ article.content|bleach }}
        {% if perms.wwwapp.change_article %}
        {% if not addArticle %}
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-default">
            Edytuj
        </a>
        {% endif %}
        <div {%if not addArticle %}id="collapseOne" class="panel-collapse collapse out"{% endif %} role="tabpanel" aria-labelledby="headingOne">
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-default">Zapisz</button>
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}
