<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load compress %}
  {% load i18n %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wakacyjne Warsztaty Wielodyscyplinarne">

    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% static 'images/black.png' %}">
    <meta property="og:description"
          content="Wakacyjne Warsztaty Wielodyscyplinarne to coroczna impreza organizowana przez studentów,
            przeznaczona dla licealistów zainteresowanych matematyką, informatyką, fizyką lub astronomią.">

    <title>
      {% if title %}
        {{ title }} - WWW
      {% else %}
        Wakacyjne Warsztaty Wielodyscyplinarne
      {% endif %}
    </title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

      <!-- Datatables -->
      <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">

      <!-- DateTime Picker -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">

      <!-- Custom styles for our template -->
      <link rel="stylesheet" href="{% static 'css/site.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
    {% endcompress %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo_transparent.png' %}" alt="Wakacyjne Warsztaty Wielodyscyplinarne"></a>
          <!-- Button for smallest screens -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="{% url 'index' %}">Strona główna</a></li>

            <li><a href="{% url 'program' %}">Program</a></li>

            {% if resources %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Internety <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for resource in resources %}
                    <li><a href="{{ resource.access_url }}">{{ resource.display_name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}

            {% if perms.wwwapp.see_all_users %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'participants' %}">Uczestnicy</a></li>
                  <li><a href="{% url 'lecturers' %}">Prowadzący</a></li>
                  <li><a href="{% url 'filter_emails' %}">Adresy email</a></li>
                  {% if request.user.is_staff %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'admin:index' %}">Django admin</a></li>
                  {% endif %}
                  {% if perms.wwwapp.export_workshop_registration %}
                    <li><a href="{% url 'dataForPlan' %}">Dane do planu</a></li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artykuły <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for article in articles_on_menubar %}
                  <li><a href="{% url 'article' article.name%}">{{ article.title }}</a></li>
                {% endfor %}
                {% if perms.wwwapp.add_article %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'addArticle' %}">Nowy artykuł</a></li>
                {% endif %}
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Warsztaty<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'addWorkshop' %}">Zgłoś warsztaty!</a></li>
                {% if has_workshops %}
                  <li><a href="{% url 'yourWorkshops' %}">Twoje warsztaty</a></li>
                {% endif %}
                {% if perms.wwwapp.see_all_workshops %}
                  <li><a href="{% url 'allWorkshops' %}">Wszystkie warsztaty</a></li>
                {% endif %}
              </ul>
            </li>

            <li><a href="{% url 'myProfile' %}">Profil</a></li>

            {% if user.is_authenticated %}
              <li><a class="btn" href="{% url 'login' %}">{{ user.first_name }} {{ user.last_name }}</a></li>
            {% else %}
              <li><a class="btn" href="{% url 'login' %}">Zaloguj</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary"></header>

    {% if messages %}
      <div class="container">
        {% for message in messages %}
          <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div id="csrftoken" style="display: none;">
      {% csrf_token %}
    </div>

    {% include "analytics.html" %}

    {% compress js %}
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <script src="{% static 'js/headroom.min.js' %}"></script>
      <script src="{% static 'js/jQuery.headroom.min.js' %}"></script>
      <script src="{% static 'js/template.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>

      <!-- Datatables -->
      <script src="{% static 'js/datatables.min.js' %}"></script>
      <script src="{% static 'js/datatables.intl.js' %}"></script>
      <script>
        var pdfmake_js_path = "{% static 'js/pdfmake.min.js' %}";
        var vfs_fonts_js_path = "{% static 'js/vfs_fonts.js' %}";
      </script>

      <script src="{% static 'js/moment.js' %}"></script>
      <script src="{% static 'js/moment-locale-pl.js' %}"></script>
      <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

      <script src="{% static 'js/ajax.requests.js' %}"></script>
      <script src="{% static 'js/warsztatywww.js' %}"></script>
      <script>
        const datatables_locale_url = "{% static 'datatables/Polish.json' %}";
      </script>
      <script src="{% static 'js/datatables_config.js' %}"></script>
    {% endcompress %}
    {% get_current_language as LANGUAGE_CODE %}
    <script>$.fn.dataTable.ext.order.intl('{{ LANGUAGE_CODE }}');</script>

    {% block script %}{% endblock %}
  </body>
</html>
