{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2 class="heading">Witaj, istnieje już konto o takich danych:</h2>
    {% for match in matches %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ match.name }} ({{ match.email }})</h3>
        </div>
        <div class="panel-body form-signin">
          {% for provider in match.providers %}
            <a class="button zocial {{ provider.name | lower }}" href="{% url 'scopedallaccess-login' provider.name %}">
              Zaloguj z {{ provider.name | title }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    Twoje połączenie z {{ new_provider.name | title }} zostanie zapamiętane i od tej pory obie metody logowania będą działać.

    {% if allow_account_creation %}
      <br/>
      To nie Twoje konto?
      <a class="button zocial {{ new_provider.name | lower }}" href="{% url 'scopedallaccess-createUserFromAccess' %}">
          Kontynuuj (tworząc nowe konto połączone z {{ new_provider.name | title }})
      </a>
    {% endif %}
  </div>
{% endblock %}
