{% extends "base.html" %}

{% block content %}
<div class="container">
        {% if user.is_authenticated %}
            <h2 class="heading">Zalogowany jako {{ user.first_name }} {{ user.last_name }}</h2>
            <div class="user-info">
                <a class="btn btn-default" href="{% url 'logout' %}">Wyloguj</a>
            </div>
        {% else %}
            <h2 class="heading">Wybierz metodę logowania: </h2>
            <div class="form-signin">
            {% for provider in allaccess_providers %}
                <a class="button zocial {{ provider.name|lower }}" href="{% url 'allaccess-login' provider.name %}">
                    Sign in with {{ provider.name|title }}
                </a>
            {% endfor %}
            </div>
        {% endif %}
</div>
{% endblock %}
