{% extends "base.html" %}

{% load staticfiles %}
{% load wwwtags %}
{% load l10n %}

{% block content %}
  <div class="container">
    <article class="col-sm-12 maincontent">
      <h1>Wszyscy uczestnicy</h1>
      <div class="table-responsive">
        <table id="participants-table" class="table" style="width:100%!important;" data-order='[[ 11, "desc" ], [ 1, "asc" ]]'>
          <thead>
            <tr>
              <th data-visible="true"  data-searchable="false" data-orderable="false"></th>
              <th data-visible="true"  data-searchable="true"  data-orderable="true">Imię i nazwisko</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Data Urodzenia</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">Pełnoletni</th>
              <th data-visible="false" data-searchable="true"  data-orderable="true">Email</th>
              <th data-visible="false" data-searchable="true"  data-orderable="true">Szkoła</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Rok Matury</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">Punkty</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Suma ilości warsztatów</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Ilość Zakwalifikowanych Warsztatów</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">List motywacyjny</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">Status</th>
              <th data-visible="false" data-searchable="false" data-orderable="false">Komentarz</th>
              <th data-visible="false" data-searchable="true"  data-orderable="false">Pesel</th>
              <th data-visible="false" data-searchable="true"  data-orderable="false">Adres</th>
              <th data-visible="false" data-searchable="true"  data-orderable="false">Numer telefonu</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Rozmiar Koszulki</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Data Przyjazdu</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Data Wyjazdu</th>
            </tr>
          </thead>
          <tbody>
            {% for person in people %}
              <tr>
                <td>
                </td>
                <td data-order="{{ person.user.last_name }} {{ person.user.first_name }}">
                  <a href="{% url 'profile' person.user.id %}">
                    {{ person.user.get_full_name | question_mark_on_empty_string }}
                  </a>
                </td>
                <td data-order="{{ person.birth | date:"U" }}">
                  {{ person.birth | question_mark_on_none_value }}
                </td>
                <td>
                  {{ person.is_adult | qualified_mark }}
                </td>
                <td>
                  {{ person.user.email | question_mark_on_empty_string }}
                </td>
                <td>
                  {{ person.school }}
                </td>
                <td>
                  {{ person.matura_exam_year | question_mark_on_none_value }}
                </td>
                <td data-order="{{ person.points | unlocalize }}">
                  <a tabindex="0" data-html="true" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Komentarze" data-content="<ul>{% for info in person.infos %} <li> {{ info }} </li> {% endfor %}</ul>">
                    {{ person.points | floatformat }}%
                  </a>
                </td>
                <td>
                  {{ person.workshop_count }}
                </td>
                <td>
                  {{ person.accepted_workshop_count }}
                </td>
                <td>
                  {{ person.has_letter | qualified_mark }}
                </td>
                <td>
                  {% if person.status == 'Z' %}
                    <span class="qualified"> {{ person.status_display }} </span>
                  {% elif person.status == 'O' %}
                    <span class="not-qualified"> {{ person.status_display }} </span>
                  {% else %}
                    {{ person.status_display|default_if_none:"Brak" }}
                  {% endif %}
                </td>
                <td>
                  {{ person.comments }}
                </td>
                <td>
                  {{ person.pesel }}
                </td>
                <td>
                  {{ person.address }}
                </td>
                <td>
                  {{ person.phone }}
                </td>
                <td>
                  {{ person.tshirt_size }}
                </td>
                <td data-order="{{ person.start_date | date:"U" }}">
                  {{ person.start_date }}
                </td>
                <td data-order="{{ person.end_date | date:"U" }}">
                  {{ person.end_date }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(() => {
      const table = $('#participants-table').DataTable(gen_datatables_config({}));
    });
  </script>
{% endblock %}
