{% extends "base.html" %}

{% block content %}
<div class="container">
    <article class="col-sm-12 maincontent">
        <h1>Wszyscy uczestnicy</h1>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Warsztaty</th>
          </thead>
          <tbody>
            {% for participant in participants %}
            {% if participant.workshops.exists %}
            <tr>
              <td>
                <a href="{% url 'profile' participant.user.id %}">
                  {{ participant.user.get_full_name }}
                </a>
              </td>
              <td>
                {{ participant.user.email }}
              </td>
              <td>
                {% for workshop in participant.workshops.all %}
                  {{ workshop.title }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </article>
</div>
{% endblock %}
