{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block content %}

<div class="container">
    <div id="profile_content" class="col-sm-12 maincontent" style="display: block;">
        <h1>{{ title }}</h1>

{% if myProfile %}
    <script src="{% static 'js/jquery.content_pagination.js' %}"></script>

    <div id="pagination_content">
        <div title="Dane" id="data">

        <form id="profile_data_form" action="" method="post" class="form-horizontal">
            {% crispy user_form %}
            {% crispy user_profile_form %}
            <button id="profile_data_form_submit_button" class="btn btn-default pull-right big-button">
              Zapisz
            </button>
        </form>

        </div>
        <div title="Strona profilowa" id="profile_page">
            <form id="profile_page_form" action="{% url 'updateProfilePage' %}" method="post" class="form">
              {% csrf_token %}
              {{ user_profile_page_form.profile_page }}
              <button id="profile_page_form_submit_button" style="margin: 10px 10px 10px 10px;" class="btn btn-default pull-right">Zapisz</button>
            </form>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function() {
           paginate_content("pagination_content");
        });
    </script>


{% else %}

{% if profile %}
<table class=table>
<tbody>
  <tr>
    <th>Email:</th>
    <td>{{ profile.user.email }}
  </tr>
  <tr>
    <th>Płeć:</th>
    <td>{{ profile.get_gender_display }}
  </tr>
  <tr>
    <th>Szkoła lub uniwersytet:</th>
    <td>{{ profile.school }}
  </tr>
  <tr>
    <th>Rok matury:</th>
    <td>{{ profile.matura_exam_year }}
  </tr>

  <tr>
    <th>Skąd wie o WWW:</th>
    <td>{{ profile.how_do_you_know_about }}
  </tr>
</tbody>
</table>
{% if is_my_profile %}
<a class="btn btn-default pull-right big-button" role=button href="{% url 'myProfile' %}">
  Edytuj
</a>
{% endif %}
<hr />
{% endif %}

{{ profile_page | bleach }}

{% endif %}

      </div>
</div>

{% endblock %}
