{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block content %}

<div class="container">
  <div id="profile_content" class="col-sm-12 maincontent" style="display: block;">
    <h1>{{ title }}</h1>

    {% if is_editing_profile %}
      <script src="{% static 'js/jquery.content_pagination.js' %}"></script>

      <div id="pagination_content">
        <div title="Dane" id="data">
          <form id="profile_data_form" action="" method="post" class="form-horizontal">
            {% crispy user_form %}
            {% crispy user_profile_form %}
            {% include "_profilesubmit.html" %}
          </form>
        </div>
        <div title="Strona profilowa" id="profile_page">
          <form action="{% url 'update_profile_page' %}" method="post" class="form">
            {% csrf_token %}
            {{ user_profile_page_form.profile_page }}
            {% include "_profilesubmit.html" %}
          </form>
        </div>
        <div title="List motywacyjny" id="cover_letter">
          <form action="{% url 'update_cover_letter' %}" method="post" class="form">
            {% csrf_token %}
            {{ user_cover_letter_form.cover_letter }}
            {% include "_profilesubmit.html" %}
          </form>
        </div>
      </div>
      </div>
    {% else %}

      {% if profile %}
        <table class=table>
          <tbody>
            <tr>
              <th>Email:</th>
              <td>{{ profile.user.email }}
            </tr>
            <tr>
              <th>Płeć:</th>
              <td>{{ profile.get_gender_display }}
            </tr>
            <tr>
              <th>Szkoła lub uniwersytet:</th>
              <td>{{ profile.school }}
            </tr>
            <tr>
              <th>Rok matury:</th>
              <td>{{ profile.matura_exam_year }}
            </tr>

            <tr>
              <th>Skąd wie o WWW:</th>
              <td>{{ profile.how_do_you_know_about }}
            </tr>
          </tbody>
        </table>

        {% if is_my_profile %}
          <a class="btn btn-default pull-right big-button" role=button href="{% url 'myProfile' %}">
            Edytuj
          </a>
        {% endif %}

        {% if profile.cover_letter %}
          <hr />
          <h3>List motywacyjny</h3>
          {{ profile.cover_letter | bleach }}
        {% endif %}

        {% if profile_page %}
          <hr />
          <h3>Strona profilowa</h3>
        {% endif %}
      {% endif %}

      {{ profile_page | bleach }}
      <hr />

      {% if is_my_profile %}
        <p>
          <em>Twoje szczegółowe dane oraz list motywacyjny są widoczne tylko dla administratorów. Strona profilowa jest publiczna.</em>
        </p>
      {% endif %}

    {% endif %}
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
      paginate_content("pagination_content");

      if(["#data", "#profile_page", "#cover_letter"].indexOf(location.hash) != -1) {
          go_to_page("pagination_content_navigation", location.hash.slice(1));
      }
  });
</script>

{% endblock %}
