{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<style>
    .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-m {
  width: 50px;
  height: 50px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 28px;
}

    .ellipsis {

        text-overflow: ellipsis;
    }

</style>

<div class="container">
    <article class="col-sm-12 maincontent">
        {% if workshops %}
        <h1>{{ title }}</h1>
        <div class="panel-group">
            {% for workshop, registered in workshops %}
                <div class="panel panel-default" id="{{ workshop.name }}">
                    <div class="panel-heading" style="font-size: 16pt;">
                        {% if workshop.page_content_is_public %}<a href="{% url 'workshop_page' workshop.name %}"><big>{{ workshop.title }}</big></a>{% else %}<big>{{ workshop.title }}</big>{% endif %}
                        {% for lecturer in workshop.lecturer.all %}
                        <span class="pull-right"><big>{{ lecturer.user.first_name }} {{ lecturer.user.last_name }}</big></span>
                        {% endfor %}
                    </div>
                    <div class="panel-body" style="margin-bottom: -20px">
                        <div class="col-sm-2">
                            <div class="well">
                                <img class="center-block " style="width: 66%; max-width: 128px;" src="{% static 'images/logo_w.png' %}" />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-condensed" style="table-layout: fixed;">
                                {% if workshop.short_description %}
                                    <tr>
                                        <td class="col-sm-3" style="border: none; height: 38px;">Krótki opis:</td>
                                        <td class="col-sm-9" style="border: none; height: 38px;">
                                            {{ workshop.short_description }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="col-sm-3" style="border: none; height: 38px;">Zadania kwalifikacyjne:</td>
                                    <td class="col-sm-9" style="border: none; height: 38px;">
                                        {% if workshop.qualification_problems %} <a href="{% url 'qualification_problems' workshop.name %}"> Link </a> {% else %} Pojawią się wkrótce {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3" style="border: none; height: 38px;">Kategorie:</td>
                                    <td class="col-sm-9" style="border: none; height: 38px;">
                                        {% for category in workshop.category.all %}
                                        <span class="badge">{{ category.name }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                            {% include '_programworkshop.html' %}
                    </div>
                </div>
            {% endfor %}
            <script src="{% static 'js/ajax.requests.js' %}"></script>
            <script>
                function register(workshop_name_txt) {
    // AJAX for posting
    $.ajax({
        url : "{% url 'register_to_workshop' %}", // the endpoint
        type : "POST", // http method
        data : { workshop_name : workshop_name_txt }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            if(json['redirect']){
                window.location.href = json['redirect']; }
            else {
                $("#"+workshop_name_txt).find(".button-div").replaceWith(json['content']);
            }
        }
    });
};

function unregister(workshop_name_txt) {
    $.ajax({
        url : "{% url 'unregister_from_workshop' %}", // the endpoint
        type : "POST", // http method
        data : { workshop_name : workshop_name_txt }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            if(json['redirect']){
                window.location.href = json['redirect']; }
            else {
            $("#"+workshop_name_txt).find(".button-div").replaceWith(json['content']);

            }
        }
    });
}
            </script>
            </div>
        {% else %}
            Warsztaty pojawią się w odpowiednim momencie.
        {% endif %}
    </article>
</div>
{% endblock %}
