{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<div class="container">
    <article class="col-sm-12 maincontent">
        {% if your_qualifications %}
        <h1>Wyniki kwalifikacji</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Warsztaty
              <th>Punkty
              <th>Zakwalifikowano
            </tr>
          </thead>
          <tbody>
            {% for workshop_participant in your_qualifications %}
            <tr>
              <td>
                {{ workshop_participant.workshop.name }}
              </td>
              <td>
                {{ workshop_participant.qualification_result|default_if_none:'?' }}
              </td>
              <td>
                {% load wwwtags %}
                {{ workshop_participant.is_qualified|qualified_mark }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% if workshops %}
        <h1>{{ title }}</h1>
        <div class="panel-group">
            {% for workshop, registered in workshops %}
            <div class="panel panel-default" id="{{ workshop.name }}">
                <div class="panel-heading" style="font-size: 16pt;">
                    {% if workshop.page_content_is_public %}<a href="{% url 'workshop_page' workshop.name %}"><big>{{ workshop.title }}</big></a>{% else %}<big>{{ workshop.title }}</big>{% endif %}
                        <span class="pull-right">
                            <big>
                                {% for lecturer in workshop.lecturer.all %}
                                    <a href="{% url 'profile' lecturer.user.id %}">{{ lecturer }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </big>
                        </span>
                </div>
                <div class="panel-body" style="margin-bottom: -20px">
                    <div class="col-sm-2">
                        <div class="well">
                            <img class="center-block " style="width: 66%; max-width: 128px;" src="{% static 'images/logo_w.png' %}" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <table class="table table-condensed" style="table-layout: fixed;">
                            {% if workshop.short_description %}
                            <tr>
                                <td class="col-sm-3" style="border: none; height: 38px;">Krótki opis:</td>
                                <td class="col-sm-9" style="border: none; height: 38px;">
                                    {{ workshop.short_description }}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td class="col-sm-3" style="border: none; height: 38px;">Zadania kwalifikacyjne:</td>
                                <td class="col-sm-9" style="border: none; height: 38px;">
                                    {% if workshop.is_qualifying and workshop.qualification_problems %}
                                        <a href="{% url 'qualification_problems' workshop.name %}"> Link </a>
                                    {% elif workshop.is_qualifying %}
                                        Pojawią się wkrótce.
                                    {% else %}
                                        Na te warsztaty nie ma kwalifikacji. Nie liczą się do puli wymaganych zgłoszeń.
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3" style="border: none; height: 38px;">Kategorie:</td>
                                <td class="col-sm-9" style="border: none; height: 38px;">
                                    {% for category in workshop.category.all %}
                                    <span class="badge">{{ category.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% include '_programworkshop.html' %}
                </div>
            </div>
            {% endfor %}
            <script>
            </script>
        </div>
        {% else %}
        Warsztaty pojawią się w odpowiednim momencie.
        {% endif %}
    </article>
</div>
<script>
  var register_to_workshops_url = "{% url 'register_to_workshop' %}";
  var unregister_to_workshops_url = "{% url 'unregister_from_workshop' %}";
</script>
{% endblock %}
