{% extends "base.html" %}

{% load staticfiles %}
{% block content %}


{% if workshops %}
<script src="{% static 'js/jquery.bdt.js' %}"></script>
<link href="{% static 'css/jquery.bdt.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.sortelements.js' %}"></script>

<script>
$(document).ready( function () {
  $('#workshop_list').bdt();
});
</script>
{% endif %}



<div class="container">
    <article class="col-sm-12 maincontent">
        <h1> {{ title }}</h1>
        {% for entry in workshops %}
        <h2>{{ entry.year }}</h2>
        <table id="workshop_list" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Warsztaty</th>
                <th>Prowadzący</th>
                <th>Kategorie</th>
                <th>Rodzaj</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for workshop in entry.workshops %}
            <tr>
                <td><a href="{% url 'workshop' workshop.name%}">{{ workshop.title }}</a></td>
                <td>
                {% for lecturer in workshop.lecturer.all %}
                    <a href="{% url 'profile' lecturer.user.id %}">{{ lecturer.user.first_name }} {{ lecturer.user.last_name }}</a><br/>
                {% endfor %}
                </td>
                <td>
                {% for category in workshop.category.all %}
                    {{ category.name }}<br/>
                {% endfor %}
                </td>
                <td>
                    <p>{{ workshop.type }}</p>
                </td>
                <td>
                    <p>{{ workshop.get_status_display|default_if_none:"Brak" }}</p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </article>
</div>
{% endblock %}
