{% extends "base.html" %}

{% load staticfiles %}
{% load wwwtags %}

{% block content %}
  <div class="container">
    <article class="col-sm-12 maincontent">
      <h1> {{ title }}</h1>
      {% for entry in workshops %}
        <h2>{{ entry.year }}</h2>
        <div class="table-responsive">
          <table class="table workshop-table" style="width:100%!important;" data-order='[[ 10, "desc" ]]'>
            <thead>
            <tr>
              <th data-visible="true" data-searchable="false" data-orderable="false"></th>
              <th data-visible="true" data-searchable="true"  data-orderable="true">Warsztaty</th>
              <th data-visible="true" data-searchable="true"  data-orderable="true">Prowadzący</th>
              <th data-visible="true" data-searchable="true"  data-orderable="true">Kategorie</th>
              <th data-visible="true" data-searchable="true"  data-orderable="true">Rodzaj</th>
              <th data-visible="true" data-searchable="false" data-orderable="true" data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba zakwalifikowanych">L.zak.</th>
              <th data-visible="true" data-searchable="false" data-orderable="true" data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba zapisanych">L.zap.</th>
              <th data-visible="true" data-searchable="false" data-orderable="true" data-toggle="tooltip" data-container="body" data-placement="top" title="Próg kwalifikacji ustawiony?">Próg?</th>
              <th data-visible="true" data-searchable="false" data-orderable="true" data-toggle="tooltip" data-container="body" data-placement="top" title="Zadania opublikowane?">Zadania?</th>
              <th data-visible="true" data-searchable="false" data-orderable="true" data-toggle="tooltip" data-container="body" data-placement="top" title="Strona opublikowana?">Strona?</th>
              <th data-visible="true" data-searchable="false" data-orderable="true">Status</th>
            </tr>
            </thead>
            <tbody>
              {% for workshop in entry.workshops %}
                <tr>
                  <td>
                  </td>
                  <td>
                    {% if workshop.is_publicly_visible %}
                      {% if link_to_edit %}
                        <a href="{% url 'workshop_page_edit' workshop.name %}">{{ workshop.title }}</a>
                      {% else %}
                        <a href="{% url 'workshop_page' workshop.name %}">{{ workshop.title }}</a>
                      {% endif %}
                    {% else %}
                      <a href="{% url 'workshop' workshop.name %}">{{ workshop.title }}</a>
                    {% endif %}
                  </td>
                  <td data-order="{% for lecturer in workshop.lecturer.all %}{{ lecturer.user.last_name }} {{ lecturer.user.first_name }} {% endfor %}">
                    {% for lecturer in workshop.lecturer.all %}
                      <a href="{% url 'profile' lecturer.user.id %}">{{ lecturer.user.get_full_name | question_mark_on_empty_string }}</a><br/>
                    {% endfor %}
                  </td>
                  <td>
                  {% for category in workshop.category.all %}
                      {{ category.name }}<br/>
                  {% endfor %}
                  </td>
                  <td>
                      <p>{{ workshop.type }}</p>
                  </td>
                  <td>
                    {% if workshop.is_qualifying and workshop.qualification_threshold %}
                      <p>{{ workshop.qualified_count }}</p>
                    {% else %}
                      <p>-</p>
                    {% endif %}
                  </td>
                  <td>
                    <p>{{ workshop.registered_count }}</p>
                  </td>
                  <td>
                    {% if workshop.is_qualifying %}
                      {% if workshop.qualification_threshold %}
                        <span class="qualified">✔</span> TAK
                      {% else %}
                        <span class="not-qualified">✘</span> NIE
                      {% endif %}
                    {% else %}
                      <p>-</p>
                    {% endif %}
                  </td>
                  <td>
                    {% if workshop.is_qualifying %}
                      {% if workshop.qualification_problems %}
                        <span class="qualified">✔</span> TAK
                      {% else %}
                        <span class="not-qualified">✘</span> NIE
                      {% endif %}
                    {% else %}
                      <p>-</p>
                    {% endif %}
                  </td>
                  <td>
                    {% if workshop.page_content_is_public %}
                      <span class="qualified">✔</span> TAK
                    {% else %}
                      <span class="not-qualified">✘</span> NIE
                    {% endif %}
                  </td>
                  <td>
                    {% if workshop.status == 'Z' %}
                      <span class="qualified"> {{ workshop.get_status_display }} </span>
                    {% elif workshop.status == 'O' %}
                      <span class="not-qualified"> {{ workshop.get_status_display }} </span>
                    {% elif workshop.status == 'X' %}
                      <span class="maybe-qualified"> {{ workshop.get_status_display }} </span>
                    {% else %}
                      {{ workshop.get_status_display|default_if_none:"Brak" }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </article>
  </div>
{% endblock %}

{% block script %}
  <script>
  $(document).ready( function () {
    const table = $('.workshop-table').DataTable(gen_datatables_config(
      {
        dom: 'Bfrtil',
        paging: false,
      }));
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
  </script>
{% endblock %}
