{% extends "base.html" %}
{% load bleach_tags %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <article class="col-sm-12 maincontent">
      <h1>{{ title }}</h1>
      {% include '_workshopeditheader.html' %}
      {% if has_perm_to_edit %}
        <div role="tabpanel">
          <hr>
          <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-default">Zapisz</button>
          </form>
        </div>
      {% else %}
        {{ workshop.proposition_description | bleach }}
      {% endif %}
    </article>
  </div>
{% endblock %}
