{% extends "base.html" %}

{% load bleach_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <article class="col-sm-12 maincontent">
        <h1>{{ title }}</h1>
        {% if has_perm_to_edit %}
            <a href="{% url 'workshop' workshop.name %}">Edycja zgłoszenia</a> |
            <a href="{% url 'workshop_participants' workshop.name %}">Uczestnicy i ocenianie</a>
            <hr>
            {% if workshop.is_qualifying and workshop.qualification_problems %}
                Twoje zadania kwalifikacyjne są <a target="_blank" href="{% url 'qualification_problems' workshop.name%}">tutaj</a>.
            {% elif workshop.is_qualifying%}
                Nie wstawiłeś jeszcze zadań kwalifikacyjnych!
            {% else %}
                Na Twoje warsztaty nie obowiązuje kwalifikacja.
            {% endif %}
            <div role="tabpanel" aria-labelledby="headingOne">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-default">Zapisz</button>
                </form>
            </div>
        {% elif workshop.page_content_is_public %}
            {% if workshop.is_qualifying and workshop.qualification_problems %}
                Zadania kwalifikacyjne są <a target="_blank" href="{% url 'qualification_problems' workshop.name%}">tutaj</a>.
            {% elif workshop.is_qualifying %}
                Nie ma jeszcze zadań kwalifikacyjnych.
            {% else %}
                Na te warsztaty nie obowiązuje kwalifikacja.
            {% endif %}
            {{ workshop.page_content|bleach }}
        {% else %}
            Prowadzący warsztatów nie wstawił jeszcze opisu.
        {% endif %}
    </article>
</div>
{% endblock %}
