{% extends "base.html" %}

{% load bleach_tags %}

{% block content %}
<div class="container">
    <article class="col-sm-12 maincontent">
        <h1>{{ title }}</h1>
        {% if has_perm_to_edit %}
            <!-- <a href="{% url 'workshop_page' workshop.name%}">Edycja strony Twoich warsztatów</a> -->
            <div role="tabpanel" aria-labelledby="headingOne">
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-default">Zapisz</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'workshop_page' workshop.name%}">Link do głównej strony warsztatów</a>
            {{ workshop.proposition_description|bleach }}
        {% endif %}
    </article>
</div>
{% endblock %}
